---
import { type CollectionEntry, render } from "astro:content";
import { Image } from "astro:assets";
import TagList from "@components/TagList.astro";
import { useTranslations } from "../../i18n/utils";

const t = useTranslations(Astro.currentLocale);

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const { Content } = await render(project);

const hasUrls = project.data.projectUrl || project.data.repositoryUrl;
---

<div class="flex flex-row justify-between">
  <div class="mt-2 w-1/3">
    <a
      class="hover:brightness-110"
      href={project.data.image.src}
      title="Project Image in original size"
      aria-label="Project Image in original size (opens in a new tab)"
      target="_blank"
      rel="noreferrer noopener"
    >
      <Image
        width="125"
        height="125"
        src={project.data.image}
        alt={project.data.imageAlt}
        class="my-0!"
      />
    </a>
  </div>
  <div class="flex w-2/3 flex-col gap-4">
    <h3 class="my-0!">{project.data.title}</h3>

    <div class="[&>p]:my-0">
      <Content />
    </div>

    <TagList tags={project.data.technologies} />
    {
      hasUrls && (
        <div class="col-start-2 row-start-3 flex gap-4">
          {project.data.repositoryUrl && (
            <a
              href={project.data.repositoryUrl}
              title={`${project.data.title} repository`}
              aria-label={`${project.data.title} repository (opens in a new tab)`}
              target="_blank"
              rel="noreferrer noopener"
            >
              Repository
            </a>
          )}
          {project.data.projectUrl && (
            <a
              href={project.data.projectUrl}
              title={`${project.data.title} project site`}
              aria-label={`${project.data.title} project site (opens in a new tab)`}
              target="_blank"
              rel="noreferrer noopener"
            >
              {t("projects.shared.projectSite")}
            </a>
          )}
        </div>
      )
    }
  </div>
</div>
