---
import { type CollectionEntry } from "astro:content";
import { getLanguageEmoji } from "../../contentCollections/utils";

interface Props {
  entry: CollectionEntry<"blogEntries"> | CollectionEntry<"gameReviews">;
}

const { entry } = Astro.props;
let postPath: string;
let tag: string;
if (entry.collection === "gameReviews") {
  postPath = "gameReview";
  tag = "Game Review";
} else if (entry.collection === "blogEntries") {
  postPath = "blog";
  tag = "Post";
} else {
  throw "Unhandled arm in if-else for postPath";
}
---

<div class="p-2">
  <a href={`/${postPath}/${entry.id}`}>
    <div class="flex items-end align-bottom">
      <h2 class="my-0!">{getLanguageEmoji(entry)} {entry.data.title}</h2>
      <span class="ml-auto">{entry.data.publishDate}</span>
    </div>
  </a>
  <span
    class="me-2 rounded-full bg-green-100 px-2 py-0.5 font-medium text-green-800 dark:bg-green-900 dark:text-green-300"
  >
    {tag}
  </span>
  <p class="mb-0! pl-0">
    {entry.data.summary}
  </p>
</div>
